body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: url('img/background_pic.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.header a {
    position: absolute;
    margin-left: 10px;
    margin-top: 95px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 33px;
    background: rgb(247, 248, 248);
    border: 3px solid rgb(0,98,252);
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0,98,252);
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 1px;
    z-index: 1;
    overflow: hidden;
}

.header a:hover {
    color: aliceblue;
    border: 3px solid aliceblue;
}

.header a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0,98,252);
    z-index: -1;
    transition: .5s;
}

.header a:hover::before {
    width: 100%;
}


.title {background-color: rgb(2, 2, 55);
    color:aliceblue;
    padding:10px 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.top {
    background: rgb(174, 244, 244, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 0;
}

.wrapper {
    margin: 20px auto;
    width: 80%;
    padding-top: 20px;
}

.wrapper img {
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    border: 3px solid white;
}

.text-box {
    color: black;
    padding-bottom: 40px;
}

.text-box h2 {
    color: rgb(0, 0, 97);
    font-size: 36px;
    margin-bottom: 0;
}

.text-box p {
    font-size: 20px;
    font-weight: 550;

}

.inf {
    background: rgb(174, 244, 244, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    padding: 18px;
}

.Courses {
    margin-bottom: 40px;
}

.Courses h2 {
    padding-left: 30px;
    color: rgb(0, 0, 97);
    margin-bottom: 0;
}

.Courses p {
    padding-left: 30px;
    color: black;
    font-size: 18px;
}

.Courses li {
    padding: 5px;
}

.Answer h2 {
    font-size: 30px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(0, 0, 97);
}

.Answer p {
    font-size: 18px;
    padding-left: 30px;
    color: black;
    margin-bottom: 40px;
}

.benefits h2 {
    padding-left: 30px;
    color: rgb(0, 0, 97);
}

.benefits .p1 {
    padding-left: 30px;
}


.benefits h3 {
    font-size: 20px;
    padding-left: 70px;
    color:rgb(0, 0, 97);
}
.benefits p {
    padding-top: 0;
    font-size: 18px;
    padding-left: 70px;
    margin-bottom: 30px;
}
main ul {padding-left: 90px;}

.footer {
    background-color: rgba(54, 56, 58, 0.5);
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .38s ease;
}


.footer-column {
    flex: 1;
    max-width: 300px;
    margin: 0 10px;
}

.footer p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer a {
    color: aliceblue;
    text-decoration: none;
    transition: 175ms all ease-in-out;
}

.footer a:hover {
    color: rgb(9, 243, 247);
    font-size: 17px;}

.footer-column .gallery-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column .gallery-images img {
    width: 100px; 
    height: auto;
    margin-bottom: 10px;
}

.footer-column .gallery-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.footer-column .gallery-images img {
    width: calc(33.33% - 10px);
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer .footer-column p {
    color: rgb(174, 244, 244);
}
